@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: linear-gradient(to right, #E6CCE6, #d69cd6);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../images/backgroundhf.webp') no-repeat center center/cover;
    text-align: left;
    padding: 20px;
    color: white; 
}


h1 {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

h2{
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: left;
}

.about-section {
    display: flex;
    justify-content: space-between; 
    margin: 20px; 
}

.text-content {
    flex: 2; 
}

.pic {
    width: 400px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

.pic:hover {
    transform: scale(1.05);
}

.cv table tr:hover {
    background-color: rgba(159, 216, 178, 0.4);
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.about-me {
    position: relative;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.about-me::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(159, 216, 178, 0);
    transition: background-color 0.5s ease-out;
    border-radius: 10px;
    z-index: -1;
}

.about-me:hover::after {
    background-color: rgba(159, 216, 178, 0.3);
}


.cv table {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cv table tr:hover {
    background-color: rgba(159, 216, 178, 0.4);
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9fd8b2;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: #9fd8b2;
}


@media (max-width: 1024px) { 
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .pic {
        width: 80%;
    }
}

@media (max-width: 768px) { 
    nav {
        flex-direction: column;
        text-align: center;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        width: 90%;
    }

    .pic {
        width: 100%;
    }
}
