@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background: url('../images/background3.webp') no-repeat center center fixed;
    background-size: cover; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E6CCE6;
    text-align: left;
    padding: 15px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

form {
    background-color: #E6CCE6;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    border-color: #333;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out forwards;
}

form button {
    background-color: #9fd8b2;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7bbf8f;
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: #E6CCE6;
}

@media screen and (max-width: 1024px) {
    form {
        width: 40%; 
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 60%; 
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 80%; 
    }
}