body {
    background: url('../images/background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9fd8b2;
    text-align: center;
    padding: 20px;
}

.title {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: left;
    font-size: 50px;
    animation: fadeSlideIn 1s ease-out;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: left;
}

.blog-post {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInPosts 1s ease-in-out both;
    border-radius: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #9fd8b2;
}

.blog-post h1 {
    color: #4a4a4a;
}

.blog-post p {
    line-height: 1.6;
    color: #555;
}

.blog-post img {
    width: 100%;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
}

footer {
    text-align: left;
    padding: 15px;
    background-color: #9fd8b2;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .title {
        font-size: 40px;
    }
    .blog-post {
        width: 90%;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    .title {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 30px;
    }
    .blog-post {
        width: 95%;
        padding: 15px;
    }
}
