#searchContainer {
    text-align: center;
    margin-bottom: 20px;
    }
    #searchInput {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    }
    #searchButton {
    padding: 5px 10px;
    background-color: #7bbf8f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    #searchButton:hover {
    background-color: green;
    }