.dropbtn {
    position: relative;
    background-color: #9fd8b2;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 20px;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f6fff9;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
    z-index: 1000; 
    transition: left 0.3s ease;
}

.dropdown-content.show {
    left: 0;
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    border-left: 4px solid transparent;
    transition: all 0.3s;
}

.dropdown-content a:hover {
    background-color: #9fd8b2;
    color: white;
    border-left: 4px solid #4cae75;
}

.dropdown-content a.active {
    background-color: #4cae75;
    color: white;
    border-left: 4px solid #2b7a4b;
}

#overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 998;
}
#overlay.show {
    display: block;
}
