{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gallery</title>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="title">Gallery</h1>
  </header>

  <div class="dropdown">
    <button id="menu-toggle" class="dropbtn">Menu</button>
    <div id="dropdown-content" class="dropdown-content">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'form' %}">Form</a>
      <a href="{% url 'gallery' %}" class="active">Gallery</a>
      <a href="{% url 'chatbot' %}">Chatbot</a>
    </div>
  </div>

  <div class="slider">
    <div class="slides">
      <img src="{% static 'images/g1.jpg' %}" alt="Hiking in Retezat">
      <img src="{% static 'images/g2.jpg' %}" alt="Fox">
      <img src="{% static 'images/g3.jpg' %}" alt="Lost in Retezat">
      <img src="{% static 'images/g5.jpg' %}" alt="Transalpina">
      <img src="{% static 'images/g4.jpg' %}" alt="Climbing in Herculane">
    </div>
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <button class="next" onclick="nextSlide()">&#10095;</button>
  </div>

  <footer>
    <p>&copy; 2025 Stephanie - Blog</p>
  </footer>

  <script src="{% static 'js/gallery.js' %}"></script>
  <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
